@tailwind base;
@tailwind components;
@tailwind utilities;
input, button{
  outline: transparent;
}

:root {
  --background-rgb: #161414;
  --greenHover: #78F701;
  --background-end-rgb: 255, 255, 255;
  --darkBrownBg: #0c0707;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.pad{
  padding-left: 2rem;
  padding-right: 2rem;
}
.width{
  max-width: 1350px;
  margin: auto;
}
.bgreenHoverEffect{
  @apply transition duration-200 border-[3px] border-white/30;
}
.bgreenHoverEffect:hover{
  @apply border-[var(--greenHover)];
}

.button{
  @apply transition duration-200 text-[1.2rem] uppercase font-[600] py-2 items-center border-[3px] border-white/30 rounded-[8px] text-white/70;
  font-family: 'Montserrat', sans-serif;
}
.button:hover{
  @apply border-[var(--greenHover)];
}
.lineDown{
  @apply translate-y-[-100%] transition duration-200;
}
.button:hover .lineDown{
  @apply bg-[var(--greenHover)] translate-y-[0%];
}

@media screen and (min-width: 1024px) {
  
}

/* to be removed when not neede */
body{
  background-color: rgba(0, 0, 0, 0.24);
  overflow-x: hidden;
}

.scale_out{
  animation: scale_out .5s linear;
}
@keyframes scale_out {
  0%{
    transform: scale(0.3);
  }
  30%{
    opacity: 1;
  }
  100%{
    transform: scale(1);
  }
}
.scale_in{
  animation: scale_in .3s linear;
}
@keyframes scale_in {
  0%{
    transform: scale(2);
  }
  50%{
    opacity: 0;
  }
  100%{
    transform: scale(1);
  }
}