@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400&family=Montserrat&display=swap');
@font-face {
    font-family: "neon";
    src: url("/assets/fonts/NEON____.TTF");
}
.maxContainer{
    background: url('/images/homeHerobg.jpg');
    position: relative;
}
.container{
    height: max(1028px, 100vh);
    @apply flex items-center justify-center;
    background: linear-gradient(rgba(0, 0, 0, 0.6) 20%, black);

}
.AnimatedText{
    @apply text-[1.8rem] text-white mb-0;
}
.miniContainer{
    @apply w-[40rem] text-center;
    font-weight: 100
}
.herotext{
    font-family:  neon!important;
    @apply text-[8rem] font-[200] text-white -mb-5;
}
.scroll_down{
    @apply absolute bottom-10 text-white hover:text-[var(--greenHover)] flex flex-col justify-center items-center gap-[2rem] text-[3.5rem] font-[100];
}
.scrollingThiny{
    @apply transition duration-150;
    opacity: 0;
    animation: bounce infinite 1s linear;
}
.scrollText{
    @apply hover:text-[var(--greenHover)] transition duration-150 text-[1.2rem] font-[100];
}
@keyframes bounce {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
    100%{
        transform: translateY(2rem);
        opacity: 0;
    }
}

/* about section for the homepage */
.aboutContainer{
    @apply py-[16rem] bg-[var(--background-rgb)] text-white;
}
.imagebox{
    @apply relative w-full aspect-square bg-white/20 rotate-[5deg];
}
.image{
    @apply rotate-[-5deg] rounded-xl;
}
.textBox{
    @apply py-[2rem]
}
.aboutTitle{
    @apply font-[600] text-[3rem] mb-4;
    font-family: 'Heebo', sans-serif;
}
.AboutText{
    @apply text-justify mt-[2rem] text-[1.2rem] font-[400] opacity-[0.8]
}
.AboutText p{
    @apply mb-[2rem];
}
.aboutButtons{
    @apply flex gap-4
}
.cardContainer{
    @apply mb-[8rem] flex items-center flex-col gap-[4rem]
}

@media screen and (min-width: 1208px) {
    .cardContainer{
        @apply flex items-center flex-row gap-[4rem];
    }
    .imagebox{
        flex-basis: 120%;
    }
    .text2about{
        flex-basis: 80%;        
    }
}

/* the why chose us section */
.whyContainer{
    @apply py-[8rem] text-white;
    background-color: var(--darkBrownBg);
}
.whytitle{
    @apply font-[400] text-[3rem] mb-4 text-white text-center;
    font-family: 'Heebo', sans-serif;
}
.whyFlexBox{
    @apply flex gap-[2rem] justify-center;
}
.cardTop{
    @apply flex pl-2 h-[2rem] overflow-hidden;
}
.whyCard{
    @apply min-w-[17rem];
}
.box1{
    @apply transition duration-300;
    border-top: transparent 2.2rem solid;
    border-right: rgba(255, 255, 255, 0.1) 1rem solid;
}
.cardTop .box2{
    @apply transition duration-300;
    border-top: transparent 2.2rem solid;
    border-left: rgba(255, 255, 255, 0.1) 1rem solid;
}
.whyCard:hover .box1{
    border-top: transparent 2.2rem solid;
    border-right: var(--greenHover) 1rem solid;
}
.whyCard:hover .box2{
    border-top: transparent 2.2rem solid;
    border-left: var(--greenHover) 1rem solid;
}
.cardTopText{
    @apply transition duration-300;
    @apply bg-white/10 text-white p-1 px-4;
    /* border-left: 1rem solid white; */
}
.whyCard:hover .cardTopText{
    @apply bg-[var(--greenHover)];
} 
.whyCard:hover .WhytextBox{
    @apply border-[var(--greenHover)];

}
.WhytextBox{
    @apply text-white rounded p-[1rem] pt-[2rem] min-h-[23rem];
}
.cardMarginTop{
    @apply mt-[3rem];
} 
.whyCardTitle{
    @apply text-[1.5rem]  font-[600] py-6
}
.whyCardText{
    @apply text-[1.3rem] font-[300] text-justify;
    opacity: 0.6;
}


/* latest section */
.latest{
    @apply bg-[var(--background-rgb)] text-white py-[8rem];
}
.latestFlexBox{
    @apply flex gap-[2.5rem] flex-wrap justify-center;
}
.latestCard{
    @apply w-[31%] min-w-[20rem] rounded-md;
}
.imageConatinerLatest{
    @apply relative w-full aspect-[1] rounded scale-[1.02] overflow-hidden;
}
.imageLatest{
    @apply transition duration-[1s];
}
.latestCard:hover .imageLatest{
    @apply scale-[1.3] rotate-[-10deg]; 
}
.buttonLatest{
    @apply m-auto transition duration-200 text-center my-8 text-[1.2rem] font-[600] hover:text-[var(--greenHover)];
}
.see_all{
    @apply w-full rounded text-center text-[1.2rem] font-[400] text-white/60 hover:text-[var(--greenHover)] duration-200 transition uppercase block py-4 font-[400] mt-[4rem];
}

/* latest pop up section */
.latestPopUp{
    @apply flex justify-center items-center fixed top-0 right-0 w-full min-h-full bg-[rgb(67,67,80)]/60;
    /* z-index: 1000000000; */
}
.imageConatinerLatestPopUp{
    @apply relative w-[8rem] flex-[50%] aspect-[1] rounded-xl scale-[1.02] overflow-hidden;
}
.PopUpCard{
    @apply flex  relative gap-[4rem] items-center bg-[#0c0707] max-w-[65rem] rounded-xl p-[4rem];
}
.popUpTextBox{
    @apply flex-[50%];
}
.PopUptitle{
    @apply font-[600] text-[2.7rem] mb-2 text-white;
    font-family: 'Heebo', sans-serif;
}
.popUpcontent p, .popUpcontent a{
    display: inline;
}
.popUpcontent{
    @apply my-12 ;
}
.popUptext{
    @apply text-[1.2rem] opacity-90 font-[300]
}
.popUpLink{
    @apply text-[1.2rem] px-2 text-[var(--greenHover)] hover:underline;
}
.closeNav{
    @apply bg-[var(--background-rgb)] p-4 absolute top-[-3.5rem] right-2 text-[var(--greenHover)] transition duration-150 uppercase flex items-center gap-[1rem];
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.closeDiv{
    @apply flex flex-col gap-[0rem];
}
.closeDiv div{
    @apply w-[3rem] bg-white/80 h-[0.08rem];
}
.closeDiv .div1{
    transform: rotate(45deg);
}
.closeDiv .div2{
    transform: rotate(-45deg);
}
.investorsContainer{
    @apply bg-[var(--darkBrownBg)];
}
.investorsFlexBox{
    @apply flex;
}